<!-- Please remove this file from your project -->
<template>
  <div class="mb-[150px] overflow-x-hidden">
    <div class="head-bg pt-[18px] mt-[-1px]">
      <div class="text-center text-7xl font-medium text-[40px] leading-[50px] tracking-[1.26px]">
        <h1>Deine Job <br />website</h1>
      </div>
      <img alt="" class="w-full" src="images/agreement.svg" />
    </div>
    <img alt="" src="images/wavetop.svg" />
    <div class="mt-[27px] overflow-x-auto hide-scrollbar px-[20px]" ref="scroll">
      <div class="font-semibold flex justify-center flex-nowrap p-0 text-green-450 min-w-[480px]">
        <div
          v-for="(tab, index) in tabs"
          :key="index"
          class="w-[160px] inline-flex h-[40px] items-center justify-center border"
          v-bind:class="{
            'border-r-0': index < tabs.length - 1,
            'bg-green-550 text-white  border-green-550': activeTab === index,
            'rounded-l-[12px]': index === 0,
            'rounded-r-[12px] mr-[20px] border-r': index === tabs.length - 1,
          }"
          @click="changeTab($event, index)"
          :ref="index"
        >
          {{ tab.name }}
        </div>
      </div>
    </div>
    <div v-for="(tab, index) in tabs" :key="index" v-show="activeTab === index">
      <div
        class="text-[21px] leading-[25px] mt-[30px] text-center px-[40px] mb-[20px]"
        v-bind:style="{ color: '#4A5568' }"
      >
        {{ tab.title }}
      </div>
      <div class="px-[20px] pl-[10px]">
        <div class="flex flex-row-reverse pr-[20px] mb-[-50px]">
          <img alt="" :src="tab.features[0].img" />
        </div>
        <div class="text-[130px] leading-[156px] flex items-end text-gray-450">
          <span>1.</span>
          <span class="text-[16px] leading-[19px] tracking-[0.47px] mb-[25px] ml-[25px]">{{
            tab.features[0].label
          }}</span>
        </div>
      </div>
      <div class="mt-[-40px]">
        <img alt="" src="images/wave1.svg" />
        <div class="px-[20px] pl-[40px] gradient">
          <div class="text-[130px] leading-[156px] flex items-end text-gray-450">
            2.
            <span class="text-[16px] leading-[19px] tracking-[0.47px] mb-[25px] ml-[25px]">{{
              tab.features[1].label
            }}</span>
          </div>
          <div class="flex flex-row-reverse pr-[20px]">
            <img alt="" :src="tab.features[1].img" />
          </div>
        </div>
        <img alt="" src="images/wave2.svg" />
      </div>
      <div class="relative">
        <span class="box-circle"></span>
        <div class="px-[20px] pl-[60px] text-[130px] leading-[156px] flex items-end relative z-10 text-gray-450">
          3.
          <span class="text-[16px] leading-[19px] tracking-[0.47px] mb-[25px] ml-[25px]">{{
            tab.features[2].label
          }}</span>
        </div>
        <div class="flex flex-row-reverse pr-[20px] pl-[20px] relative z-10 justify-center">
          <img alt="" :src="tab.features[2].img" />
        </div>
      </div>
    </div>
  </div>
</template>

<style>
.head-bg {
  background: transparent linear-gradient(141deg, #ebf4ff 0%, #e6fffa 100%) 0% 0% no-repeat padding-box;
}
.gradient {
  background: #e6fffa;
}
.box-circle {
  width: 300px;
  height: 300px;
  position: absolute;
  top: -70px;
  left: -70px;
  z-index: 2;
  background: #f7fafc;
  border-radius: 50%;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  scroll-behavior: smooth;
}
</style>
<script>
export default {
  data() {
    return {
      activeTab: 0,
      tabs: [
        {
          name: 'Arbeitnehmer',
          title: 'Drei einfache Schritte zu deinem neuen Job',
          features: [
            { label: 'Erstellen dein Lebenslauf', img: 'images/profile_data.svg' },
            { label: 'Erstellen dein Lebenslauf', img: 'images/task.svg' },
            { label: 'Mit nur einem Klick bewerben', img: 'images/personal_file.svg' },
          ],
        },
        {
          name: 'Arbeitgeber',
          title: 'Drei einfache Schritte zu deinem neuen Mitarbeiter',
          features: [
            { label: 'Erstellen dein Unternehmensprofil', img: 'images/profile_data.svg' },
            { label: 'Erstellen ein Jobinserat', img: 'images/about_me.svg' },
            { label: 'Wähle deinen neuen Mitarbeiter aus', img: 'images/swipe_profiles.svg' },
          ],
        },
        {
          name: 'Temporärbüro',
          title: 'Drei einfache Schritte zur Vermittlung neuer Mitarbeiter',
          features: [
            { label: 'Erstellen dein Unternehmensprofil', img: 'images/profile_data.svg' },
            { label: 'Erhalte Vermittlungs- angebot von Arbeitgeber', img: 'images/job_offers.svg' },
            { label: 'Vermittlung nach Provision oder Stundenlohn', img: 'images/business_deal.svg' },
          ],
        },
      ],
    };
  },
  methods: {
    changeTab(e, tabIndex) {
      this.activeTab = tabIndex;
      const setLeft =
        tabIndex === 0
          ? e.target.offsetLeft - 20
          : tabIndex == 1
          ? (this.$refs.scroll.offsetWidth / 2 - e.target.offsetWidth / 2) / 2
          : e.target.offsetLeft;
      this.$refs.scroll.scrollLeft = setLeft;
    },
  },
};
</script>