<template>
    <div class="fixed bottom-0 w-full rounded-t-[12px] bg-white p-[20px] shadow-footer max-w-screen-sm z-20">
        <div class="h-[40px] bg-gradient-to-r from-green-450 to-blue-450 rounded-[12px] flex flex-row items-center justify-center text-white">
            Kostenlos Registrieren
        </div>
    </div>
</template>