<template>
    <div class="sticky top-0">
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;500&display=swap" rel="stylesheet">
        <div class="h-[5px] bg-gradient-to-r from-green-450 to-blue-450"></div>
        <div class="rounded-b-[12px] h-[67px] bg-white flex flex-row-reverse items-center justify-items-end pr-[17px] text-green-450 shadow-header tracking-[0.84px]" >Login</div>
    </div>
</template>