<template>
  <div class="max-w-screen-sm mx-auto font-lato font-normal text-[14px] leading-[17px]">
    <Head />
    <Content/>
    <Footer />
  </div>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({})
</script>
